name: Publish to PyPI
on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - uses: actions/setup-python@v5
          with:
            python-version-file: ".python-version"

        - uses: astral-sh/setup-uv@v6

        - name: Install dependencies
          run: |
            uv sync --extra dev
        - name: Build
          run: uv build

        - uses: actions/upload-artifact@v6
          with:
            name: dist
            path: dist/*.whl
            retention-days: 7

        - name: Publish
          run: uv publish -t ${{ secrets.PYPI_TOKEN }}
